{% extends "base.html" %}

{% block title %}SentiFil-Poll{% endblock %}

{% block content %}
<!-- Hero Section -->
<header class="bg-primary text-white py-5">
    <div class="container text-center">
        <h1>What Filipinos think of your Candidate?</h1>
        <p class="lead">Based on PH Subreddits and Google News Sentiments.</p>
    </div>
</header>

<!-- Search Section -->
<div class="container py-5">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" class="search-input form-control" placeholder="Type the name of your Candidate" id="searchInput">
            <i class="fas fa-search search-icon" id="searchBtn"></i>

            <div class="suggestions" id="suggestionsBox">
                <div class="recent-searches">Recent Searches</div>
                <div id="recentSearchesList"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
